# Visual Studio Files
.vs/

# Build results
[Bb]in/
[Oo]bj/

# The packages folder can be ignored because of Package Restore
packages/

# SonarQube
.sonarqube/

# Coverlet Code Coverage results (OpenCover format)
[Cc]overage*.xml